{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% block head %}
{% if path.endswith('.md') %}
<script type="text/javascript" src="{{ url_for('static', filename='editor/marked.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editor/editor.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='editor/editor.css') }}">
{% else %}
<script type="text/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endif %}
<style type="text/css">
    .editor-wrapper {
        max-width: 800px;
        padding: 10px;
    }    
</style>
{% endblock %}
{% block body %}
    <h3>{{ _gettext('You are editing %(path)s', path=path) }}</h3>
    {% if error %}
    <span>This file cannot be edited for now.</span>
    {% else %}
    <div class="editor-wrapper">
    {{ lib.render_form(form, dir_url) }}
    </div>
    <script type="text/javascript">
        {% if path.endswith('.md') %}
        var editor = new Editor();
        editor.render();
        {% else %}
        CKEDITOR.replace('content');
        {% endif %}
    </script>
    {% endif %}
{% endblock %}
