{% extends 'admin/file/list.html' %}

{% block toolbar %}
    <div class="btn-toolbar">
        {% if admin_view.can_upload %}
        <div class="btn-group">
            <a class="btn btn-large" href="{{ get_dir_url('.create', path=dir_path) }}">{{ _gettext('Create File') }}</a>
        </div>
        <div class="btn-group">
            <a class="btn btn-large" href="{{ get_dir_url('.upload', path=dir_path) }}">{{ _gettext('Upload File') }}</a>
        </div>
        {% endif %}
        {% if admin_view.can_mkdir %}
        <div class="btn-group">
            <a class="btn btn-large" href="{{ get_dir_url('.mkdir', path=dir_path) }}">{{ _gettext('Create Directory') }}</a>
        </div>
        {% endif %}
        {% if actions %}
        <div class="btn-group">
            {{ actionslib.dropdown(actions, 'dropdown-toggle btn btn-large') }}
        </div>
        {% endif %}
    </div>
{% endblock %}
