{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/monokai.css')}}">
<script src="{{ url_for('static', filename='codemirror/lib/codemirror.js')}}"></script>
<script src="{{ url_for('static', filename='codemirror/mode/jinja2/jinja2.js')}}"></script>
<style type="text/css"></style>
<style type="text/css">
    .CodeMirror {
        border-top: 1px solid black; 
        border-bottom: 1px solid black;
        max-width: 1000px;
        min-height: 600px;
    }
    #content_wrapper {
        max-width: 800px;
        padding: 10px;
    }
</style>
{% endblock %}

{% block body %}
    <h3>{{ _gettext('You are editing %(path)s', path=path) }}</h3>
    {% if error %}
    <span>This file cannot be edited for now.</span>
    {% else %}
    <div id="content_wrapper">
    {{ lib.render_form(form, dir_url) }}
    </div>
    <script>
      CodeMirror.fromTextArea(document.getElementById("content"), {mode: {name: "jinja2", htmlMode: true}, theme: "monokai"});
    </script>
    {% endif %}
{% endblock %}